<div class="panel panel-success">
  
<div class="panel-heading"><h1>Pragmatic Catalog</h1></div>

<div class="panel-body"  style= "background-color: ivory;">
  
<div class="table-responsive">
<table class= "table-striped table-bordered table-hover table-condensed" style="background-color:seashell;border-style:solid; border-color: black; border-width:3px;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= strip_tags(product.description) %></td>
        <td><%= image_tag(product.image_url) %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= button_to 'Add to Cart', line_items_path(product_id: product),class:"btn btn-xs btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>  
 